.card-text { 
    overflow: hidden;
    cursor: pointer;
    max-height: 75px;
    min-height: 75px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.card-title{
    overflow: hidden;
    cursor: pointer;
    max-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}